.container {
  background-color: var(--black);
}
.wrapper {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  max-width: 1135px;
  margin: auto;
  padding: 60px 0;
}

.heading {
  font-size: 54px;
  font-weight: 600;
  line-height: 87px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 97px;
}

.cardsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
