.container {
  background-color: var(--black);
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1135px;
  margin: auto;
  padding: 60px 0;
}

.links {
  display: flex;

  justify-content: space-between;
  align-items: center;
  width: 40%;
}
ol {
  list-style-type: none;
}
button {
  border: none;
  background-color: transparent;
  color: var(--white);
  cursor: pointer;

  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
}

.contactBtn {
  /* padding: ; */
  border: 2px solid var(--white);
  padding: 14px 36px;
}
