.container {
  background-color: var(--black);
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1135px;
  margin: auto;
  padding: 60px 0;
}
/* .right {
  width: 40%;
} */

.left {
  padding-top: 20px;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 36px;
  border-right: 1px solid #6a6a6a;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 18px 87px;
}

.heading {
  font-size: 54px;
  font-weight: 600;
  line-height: 87px;
  letter-spacing: 0em;
  text-align: left;
}

.subheading {
  font-size: 32px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
}
.description {
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #616161;
}
